* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0c0038;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    color: #5E8C7D;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    width: 50%;
}